---
import BaseLayout from './BaseLayout.astro';
import { format } from 'date-fns';

interface Props {
	frontmatter: {
		title: string;
		description: string;
		pubDate: string;
		author: string;
		image?: string;
		imageAlt?: string;
	};
}

const { frontmatter } = Astro.props;
const formattedDate = format(new Date(frontmatter.pubDate), 'MMMM dd, yyyy');
const blogTitle = "Pixel Past Present: Retro Gaming Rediscovered";
const blogName = "pixel-past-present";
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
	<div class="container mx-auto py-8">
		<article class="prose lg:prose-xl mx-auto">
			<h1 class="text-3xl font-bold mb-4">{frontmatter.title}</h1>
			<div class="text-gray-500 mb-4">
				Published: {formattedDate} by {frontmatter.author}
			</div>
			{frontmatter.image &&
				<img 
					src={frontmatter.image}
					alt={frontmatter.imageAlt || frontmatter.title}
					class="w-full rounded-md mb-4"
				/>
			}
			<slot />
		</article>
	</div>
</BaseLayout>
